<!DOCTYPE html>
<html lang="zh_tw"><!--這裏的lang可以控制字體的，相對來説重要一些-->
    <%- include('partials/head') %>
    <head><style>
        .list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 80%;
        }
        h2 {
            width: 100% !important;
            margin: 16px 0;
            padding: 10px;
            min-height: 120px;
            
        }
    </style></head>
    <body><!--class="center_PG"的意思是讓這個頁面居中對齊，否則自己用display設定版面（可選）-->
        
        <div id="link_animate"></div><!--這是重定向動畫的遮罩（强制擁有）-->
        <%- include('partials/header') %>
        <section class="list">
            <% reports.forEach(report => { %>
                <h2 class="DivStyle-Glass">
                    <a href="/port/<%= report.filenames %>">
                        <%= report.title %> (發佈日期：<%= report.time %>，語言：<%= report.language %>)
                    </a>
                </h2>
            <% }) %>
        </section>
        <%- include('partials/bg-setting') %>
        <%- include('partials/footer') %>
        
    </body>
</html>